body{
     background-image: url('images/mathematics-background-different-numbers-pattern-2476280.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
}
.calculator{
    background-color:#f5f5ef;
    margin-top: 7%;
    margin-left: 33%;
    width: 400px;
    height: 500px;
    border-radius: 5px;
}
.input-window input , .output-window input{
    width: 350px;
    height: 50px;
    border:solid 2px orange;
    margin: 15px;
    padding: 5px;
     border-radius: 5px;
}
.Buttons{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}
.calculator .Buttons .numbers{
    float: left;
    width: 150px;
    height: 200px;
}
.calculator .Buttons .operations{
    float: right;
      width: 150px;
    height: 200px;
}
.Buttons button{
    width: 70px;
    height: 50px;
    margin-bottom: 10px;
}